<div class="bg-blue-800 h-20 text-2xl font-bold text-white flex justify-center ">
    <div class="mx-auto max-w-6xl container">
        <div class="flex  space-x-8  h-full">
            <div class="flex items-center">
                <a href="{% url 'upload_images' %}">
                    upload_images
                </a>
            </div>
            <div class="flex items-center ">
                <a href="{% url 'list_results' %}">
                    list_results
                </a>
            </div>
    </div>
    </div>
</div>

